<form id="ke-actor-config">

    <div>
        <h1>{{actor.data.name}}</h1>
        <table>
            <tr>
                <th>Simple Blasts</th>
                <th>Wild Talents</th>
            </tr>
            <tr>
                <td>
                    <table>
                        {{#each simpleBlasts}}
                            <tr>
                                <td style="width: 40px; text-align: center;"><input type="checkbox"
                                                                                    name="simple-{{blast.id}}"
                                                                                    id="simple-{{blast.id}}"
                                                                                    value="{{blast.id}}" {{isOwned}}/>
                                </td>
                                <td style="text-align: left;"><label for="simple-{{blast.id}}">{{blast.name}}</label>
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </td>
                <td style="vertical-align: top;">
                    <table>
                        {{#each wildTalents}}
                            <tr>
                                <td style="width: 40px; text-align: center;"><input type="checkbox" name="talent-{{id}}"
                                                                                    id="talent-{{id}}"
                                                                                    value="{{id}}" {{isOwned}}/></td>
                                <td style="text-align: left;"><label for="talent-{{id}}">{{name}}</label>
                            </tr>
                        {{/each}}
                    </table>
                </td>
            </tr>
        </table>
        <div>
            <button class="ke-button save-simple-button" type="submit"><i class="fas fa-solid fa-undo"></i>Save Config
                for {{actor.data.name}}</button>
        </div>
    </div>
</form>


