<form id="ke-blast-attack">
    <div style="display: flex; justify-content: center;">
        <div class="ke-blast-attack-section">
            <h2 class="ke-blast-attack-h2">Choose a blast</h2>
            <table class="ke-attack-table">
                <tr>
                    <th colspan="2">Simple Blasts</th>
                </tr>
                {{#each simple}}
                    <tr>
                        <td><input type="radio" name="blast" id="{{id}}" value="{{id}}" required /></td>
                        <td><label for="{{id}}">{{name}}</label></td>
                    </tr>
                {{/each}}

                <tr>
                    <td colspan="2">
                        <div style="width: 1px; height: 17px;"></div>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">Composite Blasts</th>
                </tr>
                {{#each composite}}
                    <tr>
                        <td><input type="radio" name="blast" id="{{id}}" value="{{id}}" required /></td>
                        <td><label for="{{id}}">{{name}}</label></td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <div class="ke-blast-attack-section">
            <h2 class="ke-blast-attack-h2">Form Infusion</h2>
            <table class="ke-attack-table">
                <tr>
                    <th colspan="2">Form</th>
                </tr>
                <tr>
                    <td><input type="radio" name="form" id="form-none" value="none" checked /></td>
                    <td><label for="form-none"><i>None</i></label></td>
                </tr>
                {{#each formInfusions}}
                    <tr>
                        <td><input type="radio" name="form" id="form-{{id}}" value="{{id}}" /></td>
                        <td><label for="form-{{id}}">{{name}} ({{burn}})</label></td>
                    </tr>
                {{/each}}
            </table>
        </div>
        <div class="ke-blast-attack-section">
            <h2 class="ke-blast-attack-h2">Substance Infusion</h2>
            <table class="ke-attack-table">
                <tr>
                    <th colspan="2">Substance</th>
                </tr>
                <tr>
                    <td><input type="radio" name="substance" id="substance-none" value="none" checked /></td>
                    <td><label for="substance-none"><i>None</i></label></td>
                </tr>
                {{#each substanceInfusions}}
                    <tr>
                        <td><input type="radio" name="substance" id="substance-{{id}}" value="{{id}}" /></td>
                        <td><label for="substance-{{id}}">{{name}} ({{burn}})</label></td>
                    </tr>
                {{/each}}
            </table>
        </div>


        <div class="ke-blast-attack-section">
            <h2 class="ke-blast-attack-h2">Apply Metakinesis</h2>
            <table class="ke-attack-table">
                <tr>
                    <th colspan="2">Metakinesis</th>
                </tr>

                {{#each metakinesis}}
                    <tr>
                        <td><input type="checkbox" name="meta-{{id}}" id="meta-{{id}}" value="meta-{{id}}" /></td>
                        <td><label for="meta-{{id}}">{{name}} ({{burn}})</label></td>
                    </tr>
                {{/each}}
            </table>
        </div>


        <div class="ke-blast-attack-section">
            <h2 class="ke-blast-attack-h2">Active Utilities</h2>
            <table class="ke-attack-table">
                <tr>
                    <th colspan="2">Metakinesis</th>
                </tr>

                {{#each utilityTalents}}
                    <tr>
                        <td>
                            <input type="checkbox" name="utility-{{id}}" id="utility-{{id}}"
                                   value="utility-{{id}}" {{active}}/>
                        </td>
                        <td><label for="utility-{{id}}">{{name}} ({{burn}})</label></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>


    <div style="text-align: center; margin-top: 20px;">
        <button class="ke-button roll-blast-attack-button" type="submit"><i class="fas fa-solid fa-undo"></i>Roll
            attack
        </button>
    </div>
    </div>
</form>


