<form id="ke-blast-attack">
    <div style="display: flex;">
        <div style="margin-right: 5px;">
            <h2>Choose a blast</h2>
            <table>
                <tr>
                    <th colspan="2">Simple Blasts</th>
                </tr>
                {{#each simple}}
                    <tr>
                        <td><input type="radio" name="blast" id="{{id}}" value="{{id}}" />
                        <td><label>{{name}}</label></td>
                        </td>
                    </tr>
                {{/each}}

                <tr>
                    <th colspan="2">Composite Blasts</th>
                </tr>
                {{#each composite}}
                    <tr>
                        <td><input type="radio" name="blast" id="{{id}}" value="{{id}}" />
                        <td><label>{{name}}</label></td>
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <div style="margin-right: 5px;">
            <h2>Apply Metakinesis</h2>
            <table>
                <tr>
                    <th colspan="2">Metakinesis</th>
                </tr>
                <tr>
                    <td><input type="checkbox" name="meta-maximize" id="meta-maximize" value="meta-maximize" />
                    <td><label>Maximize</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="meta-empower" id="meta-empower" value="meta-empower" />
                    <td><label>Empower</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="meta-quicken" id="meta-quicken" value="meta-quicken" />
                    <td><label>Quicken</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="meta-twice" id="meta-twice" value="meta-twice" />
                    <td><label>Twice</label></td>
                </tr>
            </table>
        </div>

        <div style="margin-right: 5px;">
            <h2>Apply A Form Infusion</h2>
            <table>
                {{#each formInfusions}}
                    <tr>
                        <td><input type="radio" name="form" id="form-{{id}}" value="{{id}}" />
                        <td><label>{{name}}</label></td>
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>


    <div style="text-align: center; margin-top: 30px;">
        <button class="ke-button roll-blast-attack-button" type="submit"><i class="fas fa-solid fa-undo"></i>Roll
            attack
        </button>
    </div>
    </div>
</form>


