<div class="ke-setup-container">
    <h1>It looks like this Kineticist character is not being managed by Kineticist Enhanced.</h1>
    <p>Configuring the module will improve the experience of using Kineticist in Pathfinder 1.  This is optional.  If you do not want to see this anymore, click here.</p>
    <hr>
    <nav class="tabs {{style}} ke-setup-tabs" id="ke-setup-tabs" data-group="primary-tabs">
        <a class="item" data-tab="blastconfig" >Blasts</a>
        <a class="item" data-tab="infusionconfig" >Infusions</a>
        <a class="item" data-tab="utilityconfig" >Utilities</a>
        <a class="item" data-tab="metakinesisconfig" >Metakinesis</a>
    </nav>
    <section class="ke-setup-body {{style}}" id="ke-setup-body">
        <div class="tab" data-tab="blastconfig" data-group="primary-tabs" >
            blastconfig
        </div>
        <div class="tab" data-tab="infusionconfig" data-group="primary-tabs" >
          infusionconfig
        </div>
        <div class="tab" data-tab="utilityconfig" data-group="primary-tabs" >
          utilityconfig
        </div>
        <div class="tab" data-tab="metakinesisconfig" data-group="primary-tabs" >
          metakinesisconfig
        </div>
    </section>



  <h3>Select your blasts that you have.</h3>
  {{#each blasts}}
    <div>
      <label>
        <input type="checkbox" name="{{checkbox}}" id="simple_{{name}}"/>
        {{name}}
      </label>
    </div>
  {{/each}}
  <button class="ke-button"><i class="fas fa-solid fa-undo"></i> Get Composite Blasts</button>
  <input type="button" value="Get Composite Blasts"/>
</div>


