<div style="display: flex; justify-content: space-between">
    <div style="width: 48%">

        <table>
            <tr>
                <th colspan="2">Form Infusions</th>
            </tr>

            {{#each formInfusions}}
                <tr>
                    <td style="width: 40px; text-align: center;"><input type="checkbox" name="form-{{id}}"
                                                                        id="form-{{id}}"
                                                                        value="{{id}}" {{owned}}/></td>
                    <td style="text-align: left;"><label for="form-{{id}}">{{name}}</label>
                </tr>
            {{/each}}
        </table>
    </div>

    <div style="width: 48%">
        <table>
            <tr>
                <th colspan="2">Substance Infusions</th>
            </tr>
            {{#each substanceInfusions}}
                <tr>
                    <td style="width: 40px; text-align: center;"><input type="checkbox" name="substance-{{id}}"
                                                                        id="substance-{{id}}"
                                                                        value="{{id}}" {{owned}}/></td>
                    <td style="text-align: left;"><label for="substance-{{id}}">{{name}}</label>
                </tr>
            {{/each}}
        </table>
    </div>
</div>
