<div>
    <div class="columns">
        <div class="column">

            <table class="ke-table actor-setting-table">
                <tr>
                    <th colspan="2">Simple Blasts</th>
                </tr>

                {{#each simpleBlasts}}
                    <tr>
                        <td><input type="checkbox" name="simple-{{id}}" id="simple-{{id}}" value="{{id}}" {{owned}}/></td>
                        <td><label for="simple-{{id}}">{{name}}</label>
                    </tr>
                {{/each}}

                <tr style="background-color: rgba(0,0,0,0.1);">
                    <th colspan="2">Custom Simple Blasts</th>
                </tr>

                {{#each customSimpleBlasts}}
                    <tr>

                        <td><input type="checkbox" name="custom-simple-{{id}}" id="custom-simple-{{id}}" value="{{id}}" {{owned}}/></td>
                        <td>
                            <label for="custom-simple-{{id}}">{{name}}</label>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="2" style="text-align: center; opacity: 0.7"><i>&lt;No custom simple blasts&gt;</i></td>
                    </tr>
                {{/each}}

            </table>
        </div>

        <div class="column">

            <table class="ke-table actor-setting-table">
                <tr>
                    <th colspan="2">Custom Composite Blasts</th>
                </tr>

                {{#each customCompositeBlasts}}
                    <tr>

                        <td><input type="checkbox" name="custom-composite-{{id}}" id="custom-composite-{{id}}" value="{{id}}" {{owned}}/></td>
                        <td>
                            <label for="custom-composite-{{id}}">{{name}}</label>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="2" style="text-align: center; opacity: 0.7"><i>&lt;No custom substance infusions&gt;</i></td>
                    </tr>
                {{/each}}

            </table>
        </div>

    </div>
</div>
